@charset "UTF-8";
/***
 *
 * ^Encoding
 *  1) Not even comments can precede the first line
 *  2) It's not enough to declare the byte sequence, you 
 *     still have to SAVE it in UTF-8 encoding
 *  3) Encoding declared in HTTP headers take precedence

/***
 *
 *
 * ^About
 *
 * Starter file for basic styling for a UI Kit
 * It's based on normalize.css (4.1.1) to ensure
 * browsers render all elements more consistently
 * with modern standards
 *
 *
 ***/

/***
 *
 *
 * ^Table of contents
 *
 *    ^1. Root elements
 *
 *    ^2. Groupings
 *
 *    ^3. Tabular data
 *
 *    ^4. Buttons
 *
 ***/

/**
 *
 *
 * ^1. Root elements
 *
 *
 **/

/* ensure the following elements are block-level for not just HTML5 */
article, aside, 
details, figcaption, 
footer, header,
main, menu, nav,
section, summary {
 display: block;
}

html {
 -ms-text-size-adjust: 100%;
 -webkit-text-size-adjust: 100%;
}

html,
body {
 background: #ffffff;
 margin: 0;
 padding: 0;
 min-height: 100%;
}

body {
 color: #595959; /* font color? */
 font: 1em "Open Sans", sans-serif, sans-serif;
 line-height: 1.3;
 /* [above] use a unit-less line height because child elements inherit raw number values */
}

/***
 *
 *
 * ^Groupings
 *
 *
 ***/

b {
  font-weight: 700;
}

cite {
  font-weight: 700;
}

dt {
  font-weight: 700; /* if b, cite and dt are the same, combine */
}

dfn, i, em {
  font-style: italic;
}

figure {
  margin: 1em 60px;
}

figure {
  background: #f0f0f0; /* assuming background of figure is same as its figcaption */
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
}

figcaption {
  background: #f0f0f0;
  color: #808080;
  padding: 1em;
}

h1,
h2,
h3,
h4 {
 font-weight: 600; /* h1-h4 look like semi-bold, change this if it's not */
}

h1,
h2,
h3,
h4,
h5,
h6 {
 line-height: 1.3; /* maintain line-height across all browsers */
 margin: 0 0 .75em 0;
}

h1 {
  font-size: 3em;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.375em;
}

h4 {
  font-size: 1.125em;
}

h5 {
  font-size: 1em;
}

h6 {
  font-size: 1.125em;
}

ins {
  font-weight: 700;
}

caption {
  font-size: 1.125em; /*combine with h6 */
}

p {
  line-height: 1.75;
}

p, ol, ul {
  margin-bottom: 1em;
  margin-top: 0;
}

strong {
  font-weight: 700;
}

/* abbr? kbd? samp? */

dfn {
  font-style: italic;
}

mark {
  background: #FDF257;
  color: #000;
  padding: 0 5px;
}

/**
 * [ from Normalize.css ]
 * Prevent `sub` and `sup` elements from affecting the line height
 * line height in different browsers.
 */

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/**
 * 
 * ^3. Tabular data
 *
 * https://developer.mozilla.org/en-US/docs/Web/Guide/CSS/Getting_started/Tables
 * 
 */



table {
  background: #fff;
  border-collapse: collapse;
  border-spacing: 0;
  font-size: inherit;
  width: 100%; } /* we want tables to fill the width of whatever container they are in */

thead {
  background: #f0f0f0; }

thead th {
  padding: .75em .5em; }

tfoot {
  background: #f0f0f0; }

tfoot td {
  font-size: 0.75em;
  font-weight: bold;
  font-weight: 600; } /*semibold for Open Sans*/

tr {
  border-bottom: 1px solid #f0f0f0; }

tr:last-child {
  border-bottom: none; }

th, td {
  padding: 1em .5em;
  text-align: left;
  vertical-align: top; }

th {
  font-weight: bold;
  font-weight: 600; }

th[scope="row"] {
  font-size: 0.85em; }

th[scope="col"] {
  font-size: 1em; }

td {
  font-size: 0.75em; }

/***
 * 
 * ^4. Buttons
 * 
 ***/

/* [below] havent figured these out yet, but here are some selectors from MDN
.button,
.button--cancel {
}

.button [disabled],
.button [disabled]:hover,
.button-cancel [disabled],
.button-cancel [disabled]:hover {
} */

.button {
  min-width: 240px;
  background: #808080;
  box-shadow: inset 0px 4px 0px 0px rgba(255,255,255,0.15);
  border-radius: 2px; 
}

.button:hover, .button:focus {
  background: #6E6E6E;
  box-shadow: inset 0px 4px 0px 0px rgba(255,255,255,0.15);
  border-radius: 2px; 
}

/***
 *
 * ^state modifiers
 *
 * control under what circumstances a particular 
 * graphic element can become the target of mouse events:
 * https://developer.mozilla.org/en-US/docs/Web/CSS/pointer-events
 *
 ***/

.is-disabled, [disabled] {
  cursor: not-allowed; /* disable cursor on disabled items*/
  opacity: .75; 
}  

/* [above] actually not an opacity change in the FTS UI Kit sketch file... */

  .is-disabled + label,
  .is-disabled + label, 
  [disabled] + label,
  [disabled] + label {
    pointer-events: none; 
  }

/***
 *
 *   Styling for the Demo page ~~demo_page.html
 *
 ***/

 .starter__page { /* page container*/
  margin: auto;
  max-width: 1024px; }

.starter__label,
.demo__colorswatch {
  color: #595959; }

.starter__gutter {
  padding: 32px; }

.starter__pipe {
  padding: 16px; }

.starter__section {
  overflow: hidden; }

/* [TODO] adjacent sibling or general? */
.starter__section + .starter__section {
  margin-top: 40px; }

.starter__row {
  margin-bottom: 16px; }

@media screen and (min-width: 769px) {
  .starter__column {
    float: left; 
  }

  .starter__column--small {
    width: 45%; 
  }

  .starter__column--medium {
    width: 65%; 
  }

  .starter__column--large {
    width: 85%; 
  } 
}

.starter__label {
  font-size: 14px;
  font-weight: 600;
  margin: 0 0 12px;
  padding: 0; 
}

.starter__label--text {
  color: #E11483;
  font-weight: 700; 
}

.starter--majuscule {
  text-transform: uppercase; 
}

.starter__list--inline > li {
  display: inline-block; /* [FIXME] should this be inline-block? */
}

.starter__list--clean { /* purge list styles */
  list-style: none;
  margin: 0;
  padding: 0; 
}

.demo__colors {
  margin-right: 12px; 
}

.starter__colorswatch {
  box-sizing: border-box;
  font-size: 14px;
  line-height: 32px;
  margin-bottom: 5px;
  min-height: 32px;
  padding: 0 16px;
  width: 144px; /* [FIXME] changing name from demo__ to starter__ messed this up */
}

/* not sure if this needs to be adjacent sibling or general sibling */
.demo__colors + .demo__colors {
  margin-top: -10px; }

.starter__colorswatch--large {
  height: 96px; 
}

.starter__colorswatch--medium {
  height: 64px; 
}

.starter__colorswatch--small {
  height: 32px; }

.starter__form--elem {
  margin-left: 16; }
  /* again, use unit-less value as per MDN*/


/***
 * possibly temporary
 ***/

.starter__spacer {
  overflow: hidden;
  padding: 50px 0; }